{% extends 'home.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-4">
        <h4 class="text-center alert alert-info fs-5">Add New Student</h4>
        <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>
    <br>
    <br>

    <div class = col-sm-8>
        <h4 class = "text-center alert alert-info">Student Info</h4>
        {% for student in api %}



        <table class="table">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">class</th>
                <th scope="col">gender</th>
                <th scope="col">age</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <td>{{student.first_name}}</td>
                <td>{{student.last_name}}</td>
                <td>{{student.school_class}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.age}}</td>
              </tr>
            </tbody>
          </table>
          
        {% endfor %}

    </div>
</div>






{% endblock content %}